@attribute [Authorize(Roles = "Client")]
@layout ClientLayout
@page "/client/add-antrian/{Id:int}"

@using System.Text.RegularExpressions
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Identity

@inject ApplicationDbContext dbcontext
@inject NavigationManager nav
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<IdentityUser> userManager


<PageTitle>Tambah Antrian</PageTitle>

@if(antrian == null)
{
    <p><em>Loading...</em></p>
}
else 
{
    <div class="container-fluid">
        <RadzenFieldset Text="Tambah antrian">
            <RadzenCard>
                <RadzenTemplateForm Data="@antrian" Submit="@(async (Antrian args)=>{await Submit(args);})">
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Pemohon" />
                        </div>
                        <div class="col-md-8">
                            <RadzenTextBox @bind-Value="antrian.Client.Nama" Disabled=true Style="width:100%"  />
                        </div>
                    </div>
                    <div class="row m-1">
                        <div class="col-md-4">
                            <RadzenLabel Text="Loket" />
                        </div>
                        <div class="col-md-8">
                            <RadzenDropDown @bind-Value="antrian.Layanan" Style="width:100%" TextProperty="Nama" TValue="Layanan" Data="@Layanans" Name="Layanan" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" />
                    </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                            <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                            <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
                        </div>
                    </div>
                </RadzenTemplateForm>
            </RadzenCard>
        </RadzenFieldset>
    </div>
}



@code {
    [Parameter]
    public int Id { get; set; }

    ICollection<Client> Clients;
    ICollection<Layanan> Layanans;

    Client client = new();
    Antrian antrian = new();

    protected override async Task OnInitializedAsync()
    {
        Clients = dbcontext.Clients.ToList();
        Layanans = dbcontext.Layanans.ToList();


        if (Id <= 0)
        {
            antrian = new Antrian();
        }
        else
        {
            antrian = dbcontext.Antrians.SingleOrDefault(x => x.Id == Id);
        }
        var userState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if(userState!=null)
        {
            var user = userState.User.Identity.Name;
            client = Clients.Where(x => x.Email.ToLower() == user.ToLower()).FirstOrDefault();
            antrian.Client = client;
        }


        //return base.OnInitializedAsync();
    }

    async Task Submit(Antrian model)
    {
        //model.Client = client.Antrian ;
        var trans = await dbcontext.Database.BeginTransactionAsync();
        if(model.Id <= 0)
        {
            dbcontext.Antrians.Add(model);
            await dbcontext.SaveChangesAsync();
            await trans.CommitAsync();
        }
        else
        {
            dbcontext.SaveChanges();
            await trans.CommitAsync();
        }
        nav.NavigateTo("client/antrian");

    }

    void Cancel()
    {
        nav.NavigateTo("client/antrian");
    }

}
