@layout ClientLayout
@page "/client/antrian"
@inject NavigationManager nav

<PageTitle>Antrian</PageTitle>

<h3>PageAntrian</h3>

<div class="container-fluid">
    <RadzenFieldset Text="Daftar Antrian">
        <RadzenCard>
            <div class="row">
                <div class="col">
                    <RadzenButton Click="@(()=>nav.NavigateTo($"/client/add-antrian"))" Icon="add" Text="Antrian"/>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    b
                </div>
            </div>
            
        </RadzenCard>
    </RadzenFieldset>
</div>
@code {

}
