@page "/admin/add-antrian"
@inject NavigationManager nav

<PageTitle>>Tambah Antrian</PageTitle>

<h3>AddAntrian</h3>

<div class="container-fluid">
    <RadzenFieldset Text="Tambah data antrian">
        <RadzenCard>
            <div class="row">
                <div class="col">

                </div>
            </div>
        </RadzenCard>
    </RadzenFieldset>
</div>

@code {

}
