@page "/admin/add-loket"
@*@inject ApplicationDbContext dbcontext*@
@using System.Text.RegularExpressions
@using Microsoft.EntityFrameworkCore

@inject ApplicationDbContext dbcontext
@inject NotificationService NotificationService
@inject NavigationManager nav

<PageTitle>Tambah Loket</PageTitle>


@*<h3>Tambah Loket</h3>*@

@*@if (model == null)
{
    <p><em>Loading...</em></p>
}
else{
{*@

<div class="container-fluid">
    <div class="row">
        <div class="col">
           <RadzenFieldset Text="Tambah Data Loket">
            <RadzenCard>
               <div class="row">
                    <div class="col-md-4 align-items-center d-flex">
                        <RadzenLabel Text="Nama Loket / Pelayanan" />
                    </div>
                    <div class="col-md-8">
                        <RadzenTextBox style="width: 100%;" Name="Nama" />
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px;">
                        <RadzenButton ButtonType="ButtonType.Submit" Icon="save" Text="Save" />
                        <RadzenButton ButtonStyle="ButtonStyle.Light" Icon="cancel" style="display: inline-block; margin-left: 10px;" Text="Cancel" Click="@Cancel" />
                    </div>
                 </div>
            </RadzenCard>
           </RadzenFieldset>
        </div>
    </div>
</div>



@code {
    [Parameter]
    public int Id { get; set; }

    //Layanan model;

    //protected override Task OnInitializedAsync()
    //{

    //    if (Id <= 0)
    //    {
    //        model = new Layanan();
    //    }
    //    else
    //    {
    //        model = dbcontext.Layanan.SingleOrDefault(x => x.Id == Id);
    //    }

    //    return base.OnInitializedAsync();
    //}

    void Cancel()
    {
        nav.NavigateTo("/admin/loket");
    }
}
