@page "/admin/addloket"
<PageTitle>Tambah Loket</PageTitle>


<h3>Tambah Loket</h3>

@*@if (model == null)
{
    <p><em>Loading...</em></p>
}
else
{*@

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Tambah Loket
                </div>
                <div class="card-body">
                    <form Model="">

                    </form>
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <Label>Layanan</Label>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" style="width: 100%;" Name="Nama">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 d-flex align-items-end justify-content-center" style="margin-top: 16px">
                            <button class="btn btn-primary">Simpan</button>
                            <button class="btn btn-secondary" style="margin-left: 10px;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {
    //[Parameter]
    //public int Id { get; set; }

    //Layanan model;

}
