@page "/admin/addloket"
<PageTitle>Tambah Loket</PageTitle>


<h3>Tambah Loket</h3>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    Tambah Loket
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4 align-items-center d-flex">
                            <Label>Layanan</Label>
                        </div>
                        <div class="col-md-8">
                            <TextBox  style="width: 100%;" Name="npm"> </TextBox>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@code {

}
