@page "/admin/loket"
@inject ApplicationDbContext dbcontext
<h3>Loket Page</h3>

<a class="btn btn-success" href="/admin/addloket">Tambah Loket</a>

<div>
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Loket</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No</td>
                    <td>Loket</td>
                    <td>Loket</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }


}
