@page "/admin/loket"
@inject NavigationManager nav

<PageTitle>Loket</PageTitle>


@*<h3>Loket Page</h3> *@

    @* <RadzenCard class="pb-7">
            <div class="row">

            <div class="col-6">
            <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H2">Loket Pelayanan</RadzenText>
            </div>
        <div class="col-6" style="display:flex; justify-content:space-between">
            <RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3">Default Radzen BreadCrumb</RadzenText>
            <RadzenBreadCrumb Style="text-align:right">
                <RadzenBreadCrumbItem Path="/" Text="Components" />
                <RadzenBreadCrumbItem Path="/badge" Text="Badge" />
                <RadzenBreadCrumbItem Icon="add" Text="Add" />
            </RadzenBreadCrumb>
            </div>
        </div>
    </RadzenCard>*@



<div class="container-fluid">
    <RadzenFieldset Text="Data Loket">
    <RadzenCard>
            <RadzenButton Click="@(()=> nav.NavigateTo($"/admin/addloket"))" Icon="add"/>
    @*<a class="btn btn-success" href="/admin/addloket">Tambah</a>*@

    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Loket</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>No</td>
                    <td>Loket</td>
                    <td>Loket</td>
                </tr>
            </tbody>
        </table>
    </div>
    </RadzenCard>
    </RadzenFieldset>
</div>

@code {
    [Parameter]
    public int Id { get; set; }


}
