@page "/admin/client"
@inject NavigationManager nav
<PageTitle>Client</PageTitle>

<h3>PageClient</h3>


<div class="container-fluid">
    <RadzenFieldset Text="Data Client">
        <RadzenCard>
            <div class="row">
                <div class="col">
                    <RadzenButton Icon="add" Click="@(()=>nav.NavigateTo($"admin/add-client"))"></RadzenButton>
                </div>
            </div>
        </RadzenCard>
    </RadzenFieldset>
</div>

@code {

}
