@page "/admin/antrian"
@inject NavigationManager nav

<PageTitle>Antrian</PageTitle>
<h3>PageAntrian</h3>

<div class="container-fluid">
    <RadzenFieldset Text="Daftar Antrian">
        <RadzenCard>
            <div class="row">
                <div class="col">
                    <RadzenButton Icon="add" Click="@(()=>nav.NavigateTo($"/admin/add-antrian"))" />
                </div>
            </div>
        </RadzenCard>
    </RadzenFieldset>
</div>

@code {

}
