@page "/"

<PageTitle>Index</PageTitle>

<div class="row">
    <div class="col-lg-3 col-6">
        <RadzenCard Style="height:450 px">
            <div class="row">
                <div class="col">
                    <RadzenText Style="text-align:center;" Text="12" />
                </div>
                <div class="col">
                    <RadzenText Text="Loket 1" />
                </div>
            </div>
        </RadzenCard>
    </div>
    </div>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
